transformers
transformers[sentencepiece]
sentencepiece
protobuf
wandb
accelerate
evaluate
sacrebleu
datasets
rouge_score
py7zr
pandas
numpy
nltk
tqdm
PyYAML
matplotlib
torch
notebook
boto3
mypy-boto3-s3
python-box==6.0.2
ensure
fastapi
uvicorn
Jinja2
click
-e .

